.home {
    height: 93vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark-2, 0.9),
        rgba($color-grey-dark-3, 0.9)),
        url("./assets/fd.png");
    position: relative;
    background-size: cover;
    background-position: top;

    &__text-box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__nav {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}